<a href="https://colab.research.google.com/github/kirubamay20/Python/blob/master/python_programming_practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Hello World!")

Hello World!

##Day1

In [6]:
print("String Manupulation")
print('string concatenation is done with the "+" sign.')
print('e.g. print("Hello" + "World")')
print("New lines can be created with a backslash and n.")

String Manupulation
string concatenation is done with the "+" sign.
e.g. print("Hello" + "World")
New lines can be created with a backslash and n.

In [12]:
print("Hello" + " " + "Angela")
print("What is your name? ")
input("what is your name? ")
print("Hello " + input("what is your name? ") + "!")
print(len(input("what is your name? ")))

Hello Angela
What is your name?
what is your name?kiru
what is your name?kiru
Hello kiru!
what is your name?kiru
4

In [23]:
#variable
name= input("What is your name? ")
print(name)
num= len(name)
print(num)
print("name = " + name)

What is your name? kiruba
kiruba
6
name = kiruba

In [26]:
#swap
a= input("a:")
b= input("b:")
temp= a
a=b
b=temp
print("a = " + a)
print("b = " + b)

a:20
b:10
a = 10
b = 20

In [39]:
print("Welcome!")
city = input("Where are you from? \n")
#print(city)
friend_name = input("what is your friend name? \n")
#print(friend_name)
print("my city with my friend name concat: \n"  + city + "" + friend_name )

Welcome!
Where are you from?
salem
what is your friend name?
vino
my city with my friend name concat:
salemvino

##Day2

In [ ]:
# python primitive Data Types
#string #float #Boolean

In [45]:
print("Hello"[4])
print("123"+"456") 
print(123 + 345)
print(123_456_789)

3.14

True
False

o
123456
468
123456789

In [ ]:
##type error, type checking, type conversion

In [50]:
num_char = len(input("what is your name! "))
print(type(num_char))
#print("your name has " + num_char + " characters.")

new_num_char = str(num_char)
print("your name has " + new_num_char + " characters.")

what is your name! vinodhini
<class 'int'>
your name has 10 characters.

In [52]:
a=123
print(type(a))
b="123"
print(type(b))
c=3.14
print(type(c))
d=True
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [53]:
a= float(123)
print(type(a))

print(str(70) + str(100))

<class 'float'>
70100

In [67]:
num= input("Enter two digit num: ")
print(num)
print(type(num))
a=num[0] 
b=num[1]
print(a, b)
new_a=int(a)
new_b=int(b)
#print(type(new_num))
print(new_a + new_b)

Enter two digit num: 12
12
<class 'str'>
1 2
3

In [71]:
##operators priority  () ** * / + -
print(1 + 3)
print(1 - 3)
print(1 * 3)
print(1 / 3)
print(1 ** 3)

4
-2
3
0.3333333333333333
1

In [72]:
print(3 * 3 + 3 / 3 - 3)

7.0

In [87]:
##BMI Calculation
height = input("Enter your height in meter: \n")
weight = input("Enter your weight in Kgs: \n")



BMI= int(weight) /  float(height) ** 2 

print(BMI)

bmi_i=int(BMI)
print(bmi_i)

Enter your height in meter:
1.8
Enter your weight in Kgs:
40
12.345679012345679
12

In [96]:
#basic math tricks
print(round(2.666666, 2))
answer= 8/4
answer /=2
answer= int(answer)
print(answer)

score = 1
score += 1
print(score)

2.67
1
2

In [98]:
#f-string
score = 0
BMI = 10.11
Posibility = True
print(f"Your score is {score}, your BMI is {BMI}, Possibilty of obesity {Posibility}")

Your score is 0, your BMI is 10.11, Possibilty of obesity True

In [103]:
##Your life in weeks pjt 365 days 52 weeks 12 months, if we live untill 90 years

age = input("What is your current age? ")

years= 90 -int(age)
days = years * 365
weeks = years * 52
months = years * 12


print(f"you have {days} days, {weeks} weeks and {months} months left.")

What is your current age? 56
you have 12410 days, 1768 weeks and 408 months left.

In [105]:
print(6 + 4 / 2 - (1 * 2))
a = int("5") / int(2.7)
print(type(a))

6.0
<class 'float'>

In [108]:
#Day2 project
print("Welcome to the calc!")
total_amount = input("enter the total bill in $: ")
print(total_amount)
tips = input(" tips planned to give ? 10, 12 or 15? ")
print(tips)
no_of_people = input(" number of ppl in team ? ")
print(no_of_people)

calc =  int(total_amount) + int(tips) 
share = calc / int(no_of_people)
share = int(share)
print(f"Each person should pay: {share}" )

Welcome to the calc!
enter the total bill in $: 500
500
 tips planned to give ? 10, 12 or 15? 10
10
 number of ppl in team ? 5
5
Each person should pay: 102

In [112]:
#Day2 project
print("Welcome to the calc!")
total_amount = int(input("enter the total bill in $: "))
print(total_amount)
tips = int(input(" tips planned to give ? 10, 12 or 15? "))
print(tips)
no_of_people = int(input(" number of ppl in team ? "))
print(no_of_people)

calc =  (total_amount + tips) / no_of_people

share = int(calc)
print(f"Each person should pay: ${share}" )

Welcome to the calc!
enter the total bill in $: 500
500
 tips planned to give ? 10, 12 or 15? 10
10
 number of ppl in team ? 5
5
Each person should pay: $102

In [116]:
1234567890123456 / (2 ** 58)
123456 / (2 ** 58)

4.283240429003854e-13

In [118]:
a=4.283
print(a)
print("%.2f" % a)
print("%.2f" % round(a, 2))
print("{:.2f}".format(a))
print("{:.2f}".format(round(a, 2)))
print("{:.2f}".format(round(a, 2)))
print("{:.15f}".format(round(a, 2)))

4.283
4.28
4.28
4.28
4.28
4.28
4.280000000000000